
<table>
  <tr>
    <td><h3>Local IP</h3></td>
    <td><%= $config[:bind_address] %></td>
  </tr>

  <tr>
    <td><h3>Listening on Port</h3></td>
    <td><%= $config[:port] %></td>
  </tr>

  <tr>
    <td><h3>API Endpoint</h3></td>
    <td><%= $config[:cloud_controller_url] %></td>
  </tr>

  <tr>
    <td><h3>UAA Endpoint</h3></td>
    <td><%= $config[:uaa][:url] %></td>
  </tr>
</table>

