

<h3>Local IP</h3>
<%= $config[:bind_address] %>
<br/>

<h3>Listening on Port</h3>
<%= $config[:port] %>
<br/>

<h3>API Endpoint</h3>
<%= $config[:cloud_controller_url] %>
<br/>

<h3>UAA Endpoint</h3>
<%= $config[:uaa][:url] %>
<br/>

