<div class="modal fade hide" id="bind_uri_modal">
  <div class="modal-header">
    <h3>Add new URI</h3>
  </div>
  <div class="modal-body">
    <p>
    <table>
      <tbody>
      <tr>
        <td>
          <input id="newUri" class="modal_input_box"/>
        </td>
        <td style="vertical-align: top; color: #ffffff;">
          .uhurucloud.com
        </td>
      </tr>
      </tbody>
    </table>
    </p>
  </div>
  <div class="modal-footer bind_uri_footer">
    <span class="server_errors" id="bind_url_failed"><%= session[:e_bind_url] %></span>
    <form action="/bindUri" method="post">
      <input type="text" name="uriName" id="uriName" class="blank_input"/>
      <input type="text" id="bind_uri_app_name" name="appName" class="blank_input" />
      <div class="button_case_create_organization_and_space">
        <button type="button" class="btn btn_right_bind cancel"><span class="line">| </span>Cancel </button>
        <button type="submit" class="btn btn_left_bind ok"><span class="line">| </span>Bind </button>
      </div>
    </form>
  </div>
</div>