<div class="modal fade hide" id="delete_app">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete App</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the app &nbsp;<span id="this_app_name"></span>?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors blank_input" id="delete_app_failed"><%= session[:e_delete_app] %></span>
    <div class="button_case_delete_organization_and_space">
      <button class="btn btn_right_delete_organization_and_space cancel"><span class="line">| </span>Cancel </button>
      <form action="/deleteClickedApp" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger"><span class="line">| </span>Delete </button>
        <input type="text" id="pass_app" name="appGuid" class="blank_input" />
      </form>
    </div>
  </div>
</div>