<div class="modal fade hide" id="unbind_uri_modal">
  <div class="modal-header">
    <h3>Unbind URI</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to unbind this app? Your app will no longer be able to use this URI.<br />
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors blank_input" id="unbind_url_failed"><%= session[:e_unbind_url] %></span>
    <form action="/unbindUri" method="post">
      <input type="text" name="uriName" id="unbind_uriName" class="blank_input" />
      <input type="text" id="unbind_uri_app_name" name="appName" class="blank_input" />
      <div class="button_case_create_organization_and_space">
        <button type="button" class="btn btn_right_unbind cancel"><span class="line">| </span>Cancel </button>
        <button type="submit" class="btn btn_left_unbind danger"><span class="line">| </span>Unbind </button>
      </div>
    </form>
  </div>
</div>