<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Credit cards: </span><span class="count">(<span>1</span>)</span>
        </h2>
        <div class="icons_options">
            <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_credit_card" style="right: 0;"/>
        </div>
    </div>


    <ul class="tile_list">
        <li class="tile_invisible">
            <ul class="custom_list">
                <li class="tile_credit_card_name" title="xxxx-xxxx-xxxx-1234">
                  <span class="credit_card_name">xxxx-xxxx-xxxx-1234</span>
                </li>

                <li class="tile_credit_card_logo">
                    <span class="link_tiles_app span_credit_card_icon_mastercard"></span>
                </li>

                <li class="tile_credit_card_details">
                    <span class="credit_card_first_name_span">First Name</span>
                    <span class="credit_card_last_name_span">Last Name</span>
                </li>
            </ul>
        </li>
    </ul>







<div class="modal hide" id="create_credit_card_modal">
    <div class="custom_modal_header">
        <button type="button" class="close"></button>
        <h3>Create CreditCard</h3>
    </div>

    <form action="/createCard" method="post">
        <div class="custom_modal_body credit_card_body">
            <table>
                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="first_name" class="credit_card_labels">First Name: </label><td>
                    <td class="credit_card_right"><input type="text" id="first_name" name="first_name" class="modal_input_box credit_card_input_box" value="name..." onfocus="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="last_name" class="credit_card_labels">Last Name: </label><td>
                    <td class="credit_card_right"><input type="text" id="last_name" name="last_name" class="modal_input_box credit_card_input_box" value="name..." onfocus="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="address1" class="credit_card_labels">Address: </label><td>
                    <td class="credit_card_right"><input type="text" id="address1" name="address1" class="modal_input_box credit_card_input_box" value="address..." onfocus="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="address2" class="credit_card_labels">Another address(optional): </label><td>
                    <td class="credit_card_right"><input type="text" id="address2" name="address2" class="modal_input_box credit_card_input_box" value="address..." onfocus="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="full_name" class="credit_card_labels">Full name (complete name): </label><td>
                    <td class="credit_card_right"><input type="text" id="full_name" name="fullName" class="modal_input_box credit_card_input_box" value="complete name ..." onclick="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="country" class="credit_card_labels">Country(region): </label><td>
                    <td class="credit_card_right"><input type="text" id="country" name="country" class="modal_input_box credit_card_input_box" value="country ..." onclick="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="city" class="credit_card_labels">City: </label><td>
                    <td class="credit_card_right"><input type="text" id="city" name="city" class="modal_input_box credit_card_input_box" value="city ..." onclick="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="zip_code" class="credit_card_labels">Zip-code(postal code): </label><td>
                    <td class="credit_card_right"><input type="text" id="zip_code" name="zip_code" class="modal_input_box credit_card_input_box" value="postal code ..." onclick="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>






                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="credit_card_number" class="credit_card_labels">Credit Card Number: </label><td>
                    <td class="credit_card_right"><input type="text" id="credit_card_number" name="card_number" class="modal_input_box credit_card_input_box" value="credit card..." onclick="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="cvv" class="credit_card_labels">CVV: </label><td>
                    <td class="credit_card_right"><input type="text" id="cvv" name="cvv" class="modal_input_box credit_card_input_box" value="cvv..." onclick="this.value = ''; this.style.fontStyle = 'normal'; this.style.color = 'white';" /><td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="credit_card_type" class="credit_card_labels">Credit Card Type: </label><td>
                        <td class="credit_card_right credit_card_icons">
                            <select id="credit_card_type" class="modal_input_box credit_card_input_box credit_card_type_box" name="card_type">
                                <option class="opt">-select-</option>
                                <option value="visa">Visa</option>
                                <option value="visaexpress">Visa Express</option>
                                <option value="mastercard">Mastercard</option>
                            </select>
                        <td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="credit_card_expiration_year" class="credit_card_labels">Expiration Date</label><td>
                    <td class="credit_card_right">
                        <label class="credit_card_labels">Year:</label>
                        <select name="expiration_year" class="modal_input_box credit_card_year_combo">
                            <option class="opt">-select-</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                        </select>


                        <label class="credit_card_labels">Month:</label>
                        <select name="expiration_month" class="modal_input_box credit_card_month_combo">
                            <option class="opt">-select-</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                    <td>
                </tr>

            </table>
        </div>
        <div class="modal-footer">
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_create_organization_and_space" id="cancel_b_c_organization">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success btn_left_create_organization_and_space white_btn_text"/>
            </div>
        </div>

    </form>
</div>


</div>
