<div class="splash">
    <div class="page-margin">
    <div id="splash_content_area">
        <h2>Uhuru AppCloud - Ready To Go</h2>
        <p>
            Host your web applications in minutes. We support apps written in PHP, Node.js, Ruby, Java and .NET.
            Sign up for your free beta account now. Find more details about the Uhuru App Cloud features on our
            <a href="http://www.uhurusoftware.com"><Font color="6eb53c"> web site</Font></a>.

        </p>

        <div id="try_it">
            <span class="title">Give It a <span style="font-weight: bold">Try</span></span>
            <span class="byline">It takes <br />30 seconds</span>
        </div>



        <div id="signup_container">
            <form action="/home/signup" method="post">
                <div id="promo_code_container">
                    <p>
                        Promo Code. No issues if you have none.
                    </p>
                    <input type="text" id="promo_code_input" name="promoCode" />
                </div>

                <button id="signup_button">Sign Up <i class="icon-login"></i></button>

            </form>
            <div id="signup_container_text">
                <br />
                By using our service you agree to the  <a href="http://uhurusoftware.com/tos" target="_blank"><Font color="6eb53c">Terms of Service </Font></a>
                and <a href="http://uhurusoftware.com/privacy/" target="_blank"><Font color="6eb53c">Privacy Policy </Font></a>
            </div>

        </div>
    </div>
</div>
</div>

<div class="page-margin">
    <table id="video_table">
    <tbody>
        <tr>
            <td id="video_placeholder">
                <iframe width="340" height="240" src="http://www.youtube.com/embed/Iv4VpPjz7y0" frameborder="0" allowfullscreen></iframe>
            </td>
            <td id="video_description">
                <h3>Getting Started</h3>
                <p>
                    Learn how to register with Ready To Go and start hosting your own web applications.
                    See how you can setup teams for collaboration on your applications and setup multiple app instances
                    for load balancing and fault tolerance

                </p>
                <br />
                <p>
                    We have more how-to videos and documentation in our support forum knowledge base
                    <a href="http://support.uhurusoftware.com/forums/20507726-uhuru-knowledge-bases"><Font color="6eb53c">..more videos</Font></a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
</div>
