<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<script type="text/javascript" src="js/jquery-1.5.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/ini.css"/>
		<link rel="stylesheet" type="text/css" href="../css/Site.css"/>
        <meta charset="utf-8" />
	</head>
<body class="main">

<div id="screen"> </div>
<div id="opac_screen"> </div>

    <header id="site_header">
        <div class="page-margin">
            <h1>Uhuru AppCloud</h1>


            <div id="login_control">
                <a href="#" id="login_button"><button class="btn ok" ><span class="line">| </span>Login </button></a>
            </div>
        </div>
    </header>

   <%= yield %>

    <div style="position: relative; padding-bottom: 140px;">
        <footer id="site_footer">
                <div class="top">
                    <div class="page-margin">

                    <table id="footer_top_content">
                        <tbody>
                            <tr>
                                <td style="border-right: 1px dotted #000">
                                    <p>
                                        Give us feedback on your experience with the App Cloud beta and get 1 year free premium hosting when we go commercial.
                                        Click <a href="http://bit.ly/uhrbloglife" class="index_links">here</a> for more details
                                    </p>
                                </td>
                                <td>
                                    <a href="https://www.twitter.com/uhurusoftware" class="icon-social twitter">Twitter</a>
                                    <br />
                                    <a href="https://www.facebook.com/uhurusoftware" class="icon-social facebook">Facebook</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="bottom">
                    <div class="page-margin">
                        <span class="copyright">
                            &copy; <%= @timeNow %> Uhuru Software. All rights reserved.
                        </span>
                        <ul class="footer-menu">
                            <li><a href="#tos">Terms of Service</a></li>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li class="last"><a href="http://uhurusoftware.zendesk.com">Support</a></li>
                        </ul>
                    </div>
                </div>
        </footer>
    </div>
		<script type="text/javascript" src="js/jquery-1.5.js"></script>
		<script type="text/javascript" src="js/landingPageController.js"></script>
		<script type="text/javascript" src="js/errors.js"></script>
</body>
</html>

