<div class="sections">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span class="organizations_icon"></span><span id="organization_text">Organizations </span><span class="count">(<span>17</span>)</span>
        </h2>
        <a class="section_help" ref="tooltip" title="Your apps live here!">What is this?</a>
    </div>

  <!--THIS SHOULD HAVE A LOOP THAT SEARCH HOW MANY ORGANIZATIONS THERE ARE-->

    <ul class="tile_list">
        <a href="/organization">
            <li class="tileblack">
                    <span class="organization_name_span"><%= @org_name %></span>
                    <span class="organization_members_span"># of members: </span><span class="organization_members_span_value">22</span>
                    <span class="organization_cost_span">monthly cost: </span><span class="organization_cost_span_value">$15</span>
                    <span class="control-icon trash delete-team-button"></span>

                        <div id="organization_icons">
                            <span class="alien_icons"></span>
                            <span class="organization_cube"></span>
                            <span class="organization_key"></span>
                        </div>
            </li>
        </a>
        <li class="new tile" id="create_organization_btn">
            <span class="icon"></span>
        </li>
    </ul>
  <!--//  THIS SHOULD HAVE A LOOP THAT SEARCH HOW MANY ORGANIZATIONS THERE ARE-->
</div>




<!--THIS IS THE MODAL WHERE THE USER ADDS A NEW ORGANIZATION (THIS MODAL IS HIDDEN UNLESS THE + BUTTON IS CLICKED) -->


<div class="modal hide" id="create_organization">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Create Organization</h3>
    </div>
    <div class="modal-body">
        <p>
            <label for="team_name">Name</label>
            <input type="text" id="team_name" />
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-success" data-bind="click: saveTeamChanges">Create</a>
        Creating organization...
    </div>
</div>


<!--//THIS IS THE MODAL WHERE THE USER ADDS A NEW ORGANIZATION-->
