<h1>Welcome to Uhuru AppCloud</h1>
<p class="left_simple_paragraphs">Your account was created successfully but is currently locked!</p>
<br />
<p class="left_simple_paragraphs">We have send you an email with the link necessary to unlock your account!</p>
<br /><br />

<p class="left_simple_paragraphs">Thank you for joining the Uhuru Comunity!</p>
<br /><br />
<br /><br />
<br /><br />

<p class="left_simple_paragraphs">Click <a style="color: #ffffff; text-decoration: underline;"href="/">here</a> to return to the home page</p>