<h3>Success!</h3>
<br />
<p style="text-align: left">Your subscription was created successfully!</p>
<p style="text-align: left">CLick here (<a href="/organization<%= org_guid %>" style="color: #d75a3c"><%= org_name %></a>) in order to return to your organization!</p>
<p style="text-align: left">If you are not logged in you will be returned to the home page.</p>