<h3>Success!</h3>
<br />
<p class="left_simple_paragraphs">Your subscription was created successfully!</p>
<p class="left_simple_paragraphs">CLick here (<a href="/organization<%= org_guid %>" style="color: #d75a3c"><%= org_name %></a>) in order to return to your organization!</p>
<p class="left_simple_paragraphs">If you are not logged in you will be returned to the home page.</p>