<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Account settings</span>
        </h2>
        <div class="icons_options">
            <!--<input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_credit_card" style="right: 0;"/>    -->
        </div>
    </div>


    <table>
        <tr>
            <td><p class="account_settings_labels">username</p></td>
            <td><a href="#" class="account_settings_links"><input type="button" class="edit_user_details" value=""/></a></td>
        </tr>


        <tr>
            <td><p class="account_settings_labels">passwrod</p></td>
            <td><a href="#" class="account_settings_links"><input type="button" class="edit_user_details" value=""/></a></td>
        </tr>


        <tr>
            <td><p class="account_settings_labels">email</p></td>
            <td><a href="#" class="account_settings_links"><input type="button" class="edit_user_details" value=""/></a></td>
        </tr>
    </table>

</div>
