<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Credit cards: </span><span class="count">(<span>1</span>)</span>
        </h2>
        <div class="icons_options">
            <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_credit_card" style="right: 0;"/>
        </div>
    </div>

    <p>User name</p>
    <p>password </p>
    <p>User</p>

</div>
