@font-face
{
font-family: Sagoe UI;
src: url('../css/segoe_ui.ttf'); /* IE9+ */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url("../css/open_sans.woff") format('woff');
}



html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #09293e;
}

header,
footer,
nav,
section {
    display: block;
}

.page-margin
{
    width: 940px;
    margin: 0 auto;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

#site_header
{
    height: 50px;
    background-color: #09293e;
}

#site_header h1
{
    height: 50px;
    margin: 0;
    float: left;
    line-height: 50px;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
#site_footer
{
    margin-top: 500px;
}

#site_footer .top
{
    height: 130px;
    background-color: #0e4769;
    padding: 20px 0;
}

#site_footer .bottom
{
    height: 60px;
    background-color: #0e4769;
}

#footer_top_content
{
    height: 60px;
    padding-top: 20px;
}

#footer_top_content tbody tr td
{
    padding: 0 40px;
    color: #f2f7fa;
    font-size: 14px;
}

#site_footer .bottom
{
    font-size: 11px;
}

#site_footer .bottom .page-margin
{
    padding-top: 20px;
}

#site_footer .bottom
{
    color: #706e6e;
}


#site_footer .footer-menu
{
    list-style: none;
    margin: 0 50px;
    padding: 0;
    display: inline-block;
}
#site_footer .footer-menu li
{
    border-right: 1px solid #aaa;
    display: inline-block; 
    padding: 0 10px;
    
}

#site_footer .cloud-target-url
{
    color: #0e4769;
}

#site_footer .footer-menu li a
{
    color: #6eb53c;
}

#site_footer .footer-menu li.last
{
    border: 0;
}

.header-shading
{
    height: 22px;
    background: transparent url('../images/top_header_shading.png') repeat-x scroll 0 0;
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
}
#info_page_container
{
    margin: 5px auto;
	padding-top:10px;
	height:100px;
}
#info_heading
{
	font-size:25px;
}
#info_paragraph
{
    margin-top:5px;
    margin-bottom:0;
    padding:3px;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 0.01em;
}

#info_table
{ 	
    width:640px;  
	margin:5px auto;
	
}
.info_left
{
	color:white;
	font-size:22px;
}
.info_right
{
	/*color:#D8D8D8;*/
	color:white;
	font-size:22px;
}

.info_subtitle
{
	font-size:18px;
	color:white;
	
}

.splash
{
    background: transparent url('../images/bg_clouds.png') no-repeat scroll center top;
	background-color:#0071B7;
    height: 190px;
    color: #e4eef0;
}

#splash_content_area
{
    margin-left: 440px;
    position: relative;
    padding-top: 20px;
}

.splash h2
{
    font-size: 30px;
    margin: 0 0 20px;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.splash p
{
    margin: 0 0 40px;
    font-size: 14px;
}

a{
	text-decoration:none;
}

a:hover
{
    text-decoration:none;
}

.info_img
{
    margin-right:0px; 
    margin-top:30px; 
    float:right;
    width:60px;
    height:60px;
}


.tile
{
	width:300px;
	height:100px;
	padding:5px;
	background-repeat:no-repeat;
	background-position: 220px 50px;
}

#cloud_admin_dl
{
	background-color:#6eb53c;
	background-image:url("../images/cloud_white.png");
}

#cloud_admin_info
{
	background-color:#6eb53c;
    background-image:url("../images/howto_white.png");
}

#visual_studio_dl
{
	background-color:#2d2d2d;
    background-image:url("../images/cloud_white.png");
}

#visual_studio_info
{
	background-color:#2d2d2d;
    background-image:url("../images/howto_white.png");
}

#vmcu_dl
{
	background-color:#FD950D;
    background-image:url("../images/cloud_white.png");
}

#vmcu_info
{
	background-color:#FD950D;
    background-image:url("../images/howto_white.png");
}


#site_footer .top
{
    height: 150px;
    background-color: #0e4769;
    padding: 20px 0;
}

#site_footer .bottom
{
    height: 80px;
    background-color: #0e4769;
}

.icon-social
{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: transparent url('../images/social_icons.png') no-repeat scroll 0 0;
    text-indent: -9999em;
    margin: 10px 0;
}

.icon-social.facebook
{
    background-position: 0 0;
}

.icon-social.facebook:hover
{
    background-position: -44px 0;
}

.icon-social.twitter
{
    background-position: -88px 0;
}

.icon-social.twitter:hover
{
    background-position: -132px;
}

#footer_top_content
{
    height: 130px;
    padding-top: 20px;
}

#footer_top_content tbody tr td
{
    padding: 0 40px;
    color: #f2f7fa;
    font-size: 14px;
}

#site_footer .bottom
{
    font-size: 11px;
}

#site_footer .bottom .page-margin
{
    padding-top: 20px;
    text-align: left;
}

#site_footer .bottom
{
    color: #706e6e;
}


#site_footer .footer-menu
{
    list-style: none;
    margin: 0 14px;
    padding: 0;
    display: inline-block;
}
#site_footer .footer-menu li
{
    border-right: 1px solid #aaa;
    display: inline-block;
    padding: 0 10px;

}

#site_footer .footer-menu li a
{
    color: #08c;
}

#site_footer .footer-menu li.last
{
    border: 0;
}


a, span, p, h3, h4, h5, h6, li, label
{

    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}
