@font-face
{
font-family: Sagoe UI;
src: url('segoe_ui.ttf'); /* IE9+ */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url("open_sans.woff") format('woff');
}

.splash
{
    background-image: url("../images/clouds.png");
    background-repeat: repeat-y;
    background-color: #0e4769;
    background-position: center;
    height: 400px;
    color: #ffffff;
}

#cloud_photo
{
    width: 450px;
    height: 300px;
    background-image: url("../images/cloud_photo.png");
    background-repeat: no-repeat;
    position: relative;
    float: left;
    margin-left: -100px;
    margin-top: 80px;
}

#splash_content_area
{
    margin-left: 440px;
    position: relative;
    padding-top: 40px;
}

.splash p
{
    margin: 0 0 40px;
    font-size: 14px;
}

#try_it
{
    padding: 10px;
    width: 120px;
    height: 120px;
    position: relative;
    float: left;
    margin-right: 20px;
    background-color: #187ebc;
}
#try_it .title
{
    font-size: 28px;
    display: block;
}

#try_it .byline
{
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: -15px;
    display: block;
}
#signup_container
{
    float: left;
    width: 280px;
}
#signup_container_text
{
    float: left;
    width: 280px;
}

#promo_code_container
{
    background-color: #187ebc;
    width: 260px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

#promo_code_container p
{
    margin:  0 0 10px;
    font-size: 12px;
}
#promo_code_input
{
    width: 255px;
    border: 1px solid #000;
}

.icon-quote
{
    height: 25px;
    width: 25px;
    background: transparent url("../images/quotes.png") no-repeat left top;
    display: inline-block;
}
.icon-quote.start
{
    background-position: -25px 0;
    margin: 0 0 0 -50px;
    position: absolute;
}
.icon-quote.end
{
    background-position: 0 0;
    margin: 10px 0 0 10px;
    position: absolute;
}

#video_table
{
    width: 100%;
    margin: 100px 0 100px;
}
#video_placeholder
{
    position: relative;
    top: 0;
    left: 0;
    width: 340px;
    height: 241px;
    z-index: 2;
}
#video_description
{
    vertical-align: middle;
    padding-left: 40px;
}
#video_coming_soon
{
    background: transparent url("../images/video_coming_soon.png") no-repeat scroll left top;
    text-indent: -9999em;
    width: 340px;
    height: 241px;
}
.divider
{
    width: 100%;
    height: 5px;
    background: transparent url("../images/divider_line.png") no-repeat scroll left top;
}
#testimonials
{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Serif;
    color: #2d2d2d;
}
#testimonials li
{
    padding: 20px 0;
    min-height: 150px;
    position: relative;
    width: 95%;
}
#testimonials li p
{
    font-size: 22px;
}
.customer-logo
{
    float: left;
    width: 150px;
    height: 150px;
}
.customer-quote
{
    padding-left: 200px;
    padding-right: 60px;
}
.customer-name
{
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size:  30px;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#manage_menu {
  color: #2d2d2d;
  font-size: 12px;
  font-weight: bold;
  height: 1em;
  margin: 10px 0px 20px 0px;
  padding: 0px;
  text-transform: uppercase;
}

.unstyled
{
    list-style: none;
    text-decoration: none;
    margin-left: 5px;
}

#manage_menu li
{
    float: left;
    margin-right: 40px;
}

#manage_menu li.active
{
    color: #ffffff;
}

#manage_menu li a
{
    color: inherit;
}

#welcome {
    color: #fff;
    float: right;
    height: 110px;
    padding: 10px 20px 20px;
    position: absolute;
    top: 50px;
    width: 340px;
    z-index: 5;
}

#welcome h2, #cloud_target h2
{
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
    font-size: 22px;
}

#welcome h2 span
{
    display: block;
}

#welcome h2 .user-name
{
    font-size: 30px;
    font-family: inherit;
    max-width: 300px;
}

#cloud_target
{
    margin-left: 20px;

}

input.user-name
{
    background-color: rgba(255, 255, 255, 0.6);
    border: 0;
    height: 41px;
    line-height: 41px;
    margin: 0;
    width: 300px;
}

.user-email, .user-cloud-target
{
    color: #ffffff;
    font-size: 12px;
}

.sections h2.section-title
{
    margin: 40px 0 20px 0;
    font-size: 56px;
    line-height: 56px;
    color: #2d2d2d;
    font-weight: normal;
    float: left;
}

.section-help
{
    float: left;
}

.sections a.section-help:hover
{
    text-decoration: underline;
}

.title-icon.downloads
{
    background-position: -48px 0;
    float: left;
}

#my_teams, #downloads
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 20px;
    height: 130px;
}

.tile
{
    float: left;
    margin: 0 10px 10px 0;
    width: 175px;
    height: 115px;
    padding: 5px;
    background-repeat: repeat-y;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
    list-style: none;
}

.tile-icon
{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#user_name_edit_button {
  background-position: left center;
  display: inline-block;
  height: 50px;
  margin-left: 10px;
  width: 20px;
}

.delete-organization-button, .delete-space-button, .delete-service-button, .delete-app-button, .delete-user-button, .button_unbound_services, .button_unbound_uri
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    border: 0px solid white;
}

.start_button_apps,
.stop_button_apps
{
    border: 0px solid white;
    display: inline-block;
    position: absolute;
    left: 220px;
}

.edit-user-button
{
    position: absolute;
    right: 35px;
    bottom: 5px;
    width: 20px;
    height: 20px;
}

li.new
{
    background-color: #7f7f7f !important;
}

li.new .icon
{
    background: transparent url('../images/plus_48px.png') no-repeat scroll 0 0;
    display: inline-block;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
}

#downloads li
{
    float: left;
}

#downloads li .icon
{
    background: transparent url('../images/downloads_icons.png') no-repeat scroll 0 0;
    display: inline-block;
    height: 64px;
    width: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

#downloads li .icon.visual-studio
{
    background-position: 0 0;
}

#downloads li .icon.windows-tools
{
    background-position: -64px 0;
}

.tile .title
{
    color: #efefef;
    font-size: 13px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.tile .team-name
{
    font-size: 24px;
    color: #efefef;
}

.count-label
{
    font-size: 13px;
    color: #efefef;
    display: inline-block;
}

.count-value.apps
{
    position: absolute;
    bottom: 30px;
    right: 5px;
}

.count-value.wildcard
{
    position: absolute;
    top: 5px;
    right: 5px;
}

.count-value.services
{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.count-label.apps
{
    position: absolute;
    bottom: 30px;
    left: 5px;
}
.count-label.wildcard
{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.count-label.services
{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.count-value
{
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
}

.tile a
{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#selected_team .team-name
{
    max-width: 625px;
    margin: 0 40px 0 0;
    display: inline-block;
    float: left;
}

#selected_team .team-options
{
    float: left;
    padding-top: 10px;
}

#selected_team .team-options span
{
    margin-right: 20px;
}

#team_tabs h3
{
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
    max-height: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}

#team_tabs li.tile
{
    background-color: #0071b7;
}

.tile .service_name, .uri_name, .tile .app-name {
  bottom: 5px;
  color: #efefef;
  display: inline-block;
  font-size: 13px;
  left: 5px;
  max-width: 140px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
}

#app_details_table
{
    width: 100%;
    border-collapse: collapse;
}

#app_details_table td
{
    padding: 8px;
}

#app_details_table tbody tr td
{
    height: 45px;
}

.app-value-slider
{
    width: 90%;
}






#container {
   min-height:100%;
   position:relative;
}

#body {
    padding-bottom: 120px;
    position: relative;
}


#site_footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;
   buttom: 0;
}

.span_credit_card_icon_visa
{
    background-image: url("../images/visa.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.span_credit_card_icon_mastercard
{
    background-image: url("../images/mastercard.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.span_credit_card_icon_americanexpress
{
    background-image: url("../images/americanexpress.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.span_credit_card_icon_discover
{
    background-image: url("../images/discover.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.service-icon-mysql
{
    background: transparent url("../images/mysql_icon.png") no-repeat scroll center center;
}

.service-icon-mssql
{
    background: transparent url("../images/mssql_icon.png") no-repeat scroll center center;
}

.service-icon-mongodb
{
    background: transparent url("../images/mongo_db_icon.png") no-repeat scroll center center;
}

.service-icon-redis
{
    background: transparent url("../images/redis_icon.png") no-repeat scroll center center;
}

.service-icon-rabbitmq
{
    background-image: url("../images/rabbitmq_icon.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center  15px;
}

#team_tabs li.tile.users .service-name
{
    bottom: 25px;
}

#team_tabs li.tile.users .user-type
{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 13px;
    color: #fff;
}

.tile.app-control
{
    height: 48px;
    width: 48px;
}

.app-control
{
    width: 280px;
    height: 90px;
    padding-left: 7px;
    float: left;
}

.app_stack
{
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

.back-button
{
  background: transparent url("../images/back_button.png") no-repeat scroll left center;
  float: left;
  height: 52px;
  width: 52px;
  margin-top: 36px;
}

.app-info li.section {
  float: left;
  margin: 0 30px 40px 0;
  width: 420px;
}

.app-info h4 {
  border-bottom: 1px solid #ddd;
  color: #0071b7;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 40px;
  padding-bottom: 5px;
}

.app-info h4 .control-icon
{
    float: right;
}

.instance-count
{
    font-size: 35px;
    text-align: center;
    display: inline-block;
}

.instance-type
{
    font-size: 12px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: inline-block;
}

.instance-info
{
    display: inline-block;
    width: 49%;
    height: 65px;
    position: relative;
    color: #fff;
    float: left;
}

.app_details_modal .modal-body
{
    width: 100%;
    max-height: none;
    background-color: #09293e;
}

#new_app_name_table .validationMessage
{
    display: block;
}

.icon-tile
{
    width: 80px;
    height: 80px;

}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    color: #ffffff;
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 10pt;
    letter-spacing: 0.01em;
    background-color: #09293e;
}

header,
footer,
nav,
section {
    display: block;
}

.page-margin
{
    width: 1070px;
    margin: 0 auto;
    position: relative;
    display: block;
}

fieldset
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend
{
    font-size:1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin:0.5em 0 0 0;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#site_header
{
    height: 50px;
    background-color: #187ebc;
}

#login_control
{
    float: right;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

#login_control .welcome-message
{
    margin-right: 20px;
    display: inline-block;
}

#login_control a
{
    text-decoration: none;
    display: inline-block;
}

#login_control a:hover
{
    text-decoration: underline;
}

#site_footer_container
{
    position: relative;
    padding-bottom: 140px;
}
#site_footer_border_td
{
    border-right: 1px dotted #000;
}
#site_footer
{
    margin-top: 100px;
    padding-top: 20px;
    background-color: #0e4769;
}

#site_footer .top
{
    height: 130px;
    background-color: #0e4769;
    padding: 20px 0;
}

#site_footer .bottom
{
    height: 60px;
    background-color: #0e4769;
}

.icon-social
{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: transparent url('../images/social_icons.png') no-repeat scroll 0 0;
    text-indent: -9999em;
    margin: 10px 0;
}

.icon-social.facebook
{
    background-position: 0 0;
}

.icon-social.facebook:hover
{
    background-position: -44px 0;
}

.icon-social.twitter
{
    background-position: -88px 0;
}

.icon-social.twitter:hover
{
    background-position: -132px;
}

#footer_top_content
{
    height: 130px;
    padding-top: 20px;
}

#footer_top_content tbody tr td
{
    padding: 0 40px;
    color: #f2f7fa;
    font-size: 14px;
}

#site_footer .bottom
{
    font-size: 11px;
}

#site_footer .bottom .page-margin
{
    padding-top: 20px;
    text-align: left;
}

#site_footer .bottom
{
    color: #706e6e;
}

#site_footer .footer-menu
{
    list-style: none;
    margin: 0 7px;
    padding: 0;
    display: inline-block;
}
#site_footer .footer-menu li
{
    border-right: 1px solid #aaa;
    display: inline-block;
    padding: 0 10px;

}

#site_footer .footer-menu li a
{
    color: #08c;
}

#site_footer .footer-menu li.last
{
    border: 0;
}

.icon-login
{
    height: 25px;
    width: 25px;
    background: transparent url('../images/redo_24px.png') no-repeat scroll left top;
    display: inline-block;
    float: right;
}

.tile
{
    position: relative;
    overflow: hidden;
}

.header-shading
{
    height: 22px;
    background: transparent url('../images/top_header_shading.png') repeat-x scroll 0 0;
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
}

.noty_bar
{
    position: relative;
}

.validationMessage
{
    color: #a00;
    display: inline-block;
    margin-left: 20px;
}

#app_smallcontainer
{
    margin:0px auto 15px;
}

.app_tiles
{
    width:160px;
    height:45px;
    background-color:#09293e;
    background-position:0px 0px;
	background-repeat:no-repeat;
	margin:1px;
}

#app_Magento
{
    background-image:url("../images/magento_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#app_Wordpress
{
    background-image:url("../images/wordpress_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#app_SugarCRM
{
    background-image:url("../images/sugarcrm_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#app_Orchard
{
    background-image:url("../images/orchard_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#app_Umbraco
{
    background-image:url("../images/umbraco_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#app_Joomla
{
    background-image:url("../images/joomla_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#app_Drupal
{
    background-image:url("../images/drupal_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.app_name_span
{
    color:#efefef;
    float:left;
    margin-left:3px;
}

.app_download_span
{
    color:#efefef;
    font-size:12px;
    float:left;
    margin-left:3px;
}

.app_cloudpush_span
{
    color:#efefef;
    font-size:12px;
    float:left;
    margin-left:3px;
}
#app_table
{
    margin:5px auto 5px;
}

a
{
    text-decoration: none; !important
}

#app_close
{
    font-size: 17px;
    font-weight: bold;
}

.layout_page_paragraph,
.layout_page_header
{
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;
    float: left;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}
.layout_page_paragraph
{
    font-size: 18px;
}

#login_modal,
#signup_modal
{
	width: 600px;
	text-align: center;
	position: absolute;
	margin-left: -300px;
	left: 50%;
	top: 80px;
	z-index: 20;
}

#login_modal_content,
#signup_modal_content
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#login_modal_content p,
#signup_modal_content p
{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

#login_modal_content p span,
#signup_modal_content p span
{
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.01em;
    float: left;
    font-size: 14px;
}

#login_modal_content label,
#signup_modal_content label
{
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.01em;
    float: left;
    height: 40px;
    line-height: 40px;
}

#login_modal_content input,
#signup_modal_content input
{
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.01em;
    float: right;
    width: 300px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
}

#site_footer
{
    display: block;
    position: absolute;
    margin-top: 100px;
    background-color: #0e4769;
    bottom: 0;
}

.form_errors1,
.form_errors2,
#show_modal_errors,
.server_errors
{
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
    float: left;
    height: 40px;
    line-height: 48px;
    color: #CEF6F5;
    margin-left: 10px;
}
.server_errors
{
    color: #CEF6F5;
}
.form_errors1,
.form_errors2
{
    font-size: 14px;
    font-weight: 100;
    margin-left: 5px;
    height: 20px;
}

.index_links
{
    color: #ffffff;
    text-decoration: underline;
    font-weight: 400;
}

#site_footer_ezbox
{
    height: 50px;
    margin-bottom: 20px;
}
#footer_span_ezbox
{
    line-height: 48px;
    display: inline-block;
    float: left;
}

#site_footer_subdiv
{
    height: 50px;
    margin-left: 45px;
    float: left
}