<div id="500error_div">
    <h3 class="error_h3"> Error 404 - page not found</h3>
    <p class="error_p">We apologize for the inconvenience, click <a href="/" class="error_btn">here</a> to get back to home page</p>
</div>

