<div id="404error_div">
    <h3 class="error_h3">500 - An error has occurred on our server</h3>
    <p class="error_p"><%= error %></p>
    <p class="error_p">We apologize for the inconvenience, click <a href="/" class="error_btn">here</a> to get back to home page</p>
</div>

