<div>
    <h3> Error 404 - page not found</h3>
    <p>We apologize for the inconvenience, click the link bellow to go to the home page</p>
    <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::INDEX %>';">Home Page</button>
</div>

