<div class="modal hide" id="delete_user_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete User</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete this user <span id="this_user_name"></span>?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_user_failed"><%= session[:e_delete_user] %></span>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel"><span class="line">| </span>Cancel </button>
      <form action="/deleteSpaceUser" method="post">
        <input type="text" class="blank_input" id="pass_user_guid" value="" name="thisUser"/>
        <input type="text" class="blank_input" id="pass_user_role" value="" name="thisUserRole"/>
        <button type="submit" class="btn btn_left_delete_organization_and_space danger danger"><span class="line">| </span>Delete </button>
      </form>
    </div>
  </div>
</div>