<div class="modal fade hide" id="delete_service">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Service</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the service &nbsp;<span id="this_service_name"></span>?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors blank_input" id="delete_service_failed"><%= session[:e_delete_service] %></span>
    <div class="button_case_delete_organization_and_space">
      <button class="btn btn_right_delete_organization_and_space cancel"><span class="line">| </span>Cancel </button>
      <form action="/deleteClickedService" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger"><span class="line">| </span>Delete </button>
                <input type="text" id="pass_service" name="serviceGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>