<div class="modal hide" id="delete_space_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Space</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the space "<span id="this_space_name"></span>"?
    </p>
    <br />
    <p>
      <strong>
        WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors blank_input" id="delete_space_failed"><%= session[:e_delete_space] %></span>
    <p class="hidden_modal_messages" id="p_d_space">Deleting...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_b_d_space"><span class="line">| </span>Cancel </button>
      <form action="/deleteClickedSpace" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="b_d_space"><span class="line">| </span>Delete </button>
        <input type="text" id="pass_guid" name="spaceGuid" style="display: none;" />
      </form>
    </div>
  </div>
</div>