<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Account settings</span>
        </h2>
    </div>

    <div class="custom_modal_body">
        <form action="/updateUserName" method="post">
            <table>
                <tr class="account_settings_rows">
                    <td class="account_settings_left"><p>Account user name:</p></td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"><label for="first_name" class="account_settings_labels">First Name: </label></td>
                    <td class="account_settings_right"><input type="text" id="first_name" name="first_name" class="modal_input_box account_settings_input_box checker" placeholder = "... first name" /></td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"><label for="last_name" class="account_settings_labels">Last Name: </label></td>
                    <td class="account_settings_right"><input type="text" id="last_name" name="last_name" class="modal_input_box account_settings_input_box checker" placeholder = "... last name" /></td>
                </tr>

                <tr class="account_settings_rows">
                    <td></td>
                    <td class="account_settings_left"><p class="form_errors1"></p><span class="server_errors" id="update_user_failed"><%= error_message_username %></span></td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"></td>
                    <td class="account_settings_right"><button type="submit" class="btn login last_row submit_form1 ok" style="float: left;"><span class="line">| </span>Update </button></td>
                </tr>
            </table>
        </form>
      </div>

      <div class="custom_modal_body" style="margin-top: 70px;">
        <form action="/updateUserPassword" method="post">
            <table>
                <tr class="account_settings_rows">
                    <td class="account_settings_left"><p>Account password:</p></td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"><label for="old_pass" class="account_settings_labels">Old Password: </label></td>
                    <td class="account_settings_right"><input type="password" id="old_pass" name="old_pass" class="modal_input_box account_settings_input_box checker" /></td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"><label for="new_pass1" class="account_settings_labels">New Password: </label></td>
                    <td class="account_settings_right"><input type="password" id="new_pass1" name="new_pass1" class="modal_input_box account_settings_input_box checker" /></td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"><label for="new_pass2" class="account_settings_labels">Confirm New Password: </label></td>
                    <td class="account_settings_right"><input type="password" id="new_pass2" name="new_pass2" class="modal_input_box account_settings_input_box checker" /></td>
                </tr>

                <tr class="account_settings_rows">
                    <td></td>
                    <td class="account_settings_left">
                        <p class="form_errors2"></p>
                        <span class="server_errors" id="update_password_failed"><%= error_message_password %></span>
                    </td>
                </tr>

                <tr class="account_settings_rows">
                    <td class="account_settings_left"></td>
                    <td class="account_settings_right"><button type="submit" class="btn login last_row submit_form2 ok" style="float: left;"><span class="line">| </span>Update </button></td>
                </tr>
            </table>
        </form>
      </div>
</div>
