<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="hostname" value="{dotnetrabbitmonit#host}"/>
    <add key="username" value="{dotnetrabbitmonit#user}"/>
    <add key="password" value="{dotnetrabbitmonit#password}"/>
    <add key="port" value="{dotnetrabbitmonit#port}"/>
    <add key="vhost" value="{dotnetrabbitmonit#vhost}"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

</configuration>
