<div class="modal-background"> </div>

<div class="modal">
  <div class="modal_header">
    <h3>New Domain</h3>
  </div>

  <form action="/createDomain" method="post">
    <div class="modal_content">
      <p>
        <label for="domainName">Domain Name:</label>
        <input type="text" name="domainName" autofocus />
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
        <label for="domain_wildcard">Wildcard Domain?</label><input type="checkbox" class="modal_input_box" name="domain_wildcard" value="true"/><label>(Y/N)</label>
      </p>
    </div>

    <div class="modal_footer">
      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>

      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/domains" %>';">Cancel</button>
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
        <button type="submit" >Create</button>
      </div>
    </div>
  </form>
</div>