<div class="modal-background"></div>

<div class="modal">

  <div class="modal_header">
    <span>Create organization</span>
  </div>

  <form action="/createOrganization" method="post" id="nonpayment-form">
    <div class="modal_content">
      <div>Organization Name</div>
      <input type="text" id="org_name" name="orgName" class="modal_input_box" autofocus />
      <br />

      <div class="error_container"></div>
      <div class="payment-errors error hide"></div>
    </div>
    <div class="modal_footer">
      <div>
        <div id="org_spinner" class="hide"><img src="/images/small_loader.gif" /></div>
        <button type="button" onclick="window.location.assign('<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>');">Cancel</button>
        <button type="submit" onclick="$('#org_spinner').show(); $('.error').hide();">Create</button>
      </div>
    </div>
  </form>
</div>

