
<div class="modal-background"></div>


<div class="modal">
  <div class="modal_header">
    <h3>Create Organization</h3>
  </div>

  <form action="/createOrganization" method="post" autocomplete="off">
    <div class="modal_content">
      <p>
        <label for="org_name">Organization Name: </label>
        <input type="text" id="org_name" name="orgName" class="modal_input_box" autofocus />
      </p>
    </div>

    <div class="modal_footer">
      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>
      <p class="hide hidden_message">Please wait...</p>

      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>';">Cancel</button>
        <button type="submit">Create</button>
      </div>
    </div>
  </form>
</div>

