<div class="modal hide" id="create_space">
    <div class="modal-header">
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>" class="close"></a>
        <h3>Create Space</h3>
    </div>

    <form action="/createSpace" method="post">
        <div class="modal-body">
            <p>
                <label for="team_name">Space Name:</label>
                <input type="text" id="org_name" name="spaceName" class="modal_input_box space_name_i" />
            </p>
        </div>

        <div class="modal-footer">
            <span class="server_errors" id="create_space_failed"></span>

            <div class="button_case_create_organization_and_space">
                <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>" class="btn btn_right_create_organization_and_space cancel" id="cancel_b_c_space"><span class="line">| </span>Cancel </a>
                <button type="submit" value="Create" class="btn btn_left_create_organization_and_space ok" id="b_c_space"><span class="line">| </span>Create </button>
                <p class="hidden_modal_messages" id="p_c_space">Please wait...</p>
            </div>
        </div>
    </form>
</div>