<h1>Welcome to Uhuru AppCloud</h1>
<p class="left_simple_paragraphs">Your account has been activated click <a style="color: white; text-decoration: underline;" href="/">here</a> to continue and log in!</p>