<h1>Welcome to Uhuru AppCloud</h1>

<p>Your account was created successfully!</p>
<p>In order to continue please click the link bellow and login to the user panel to get started!</p>
<button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::INDEX %>';">Home Page</button>