<div style="background-color: #000000; width: 100%; height: 100%; margin: auto;">
    <div style="display: block; width: 100%; height: 150px; margin: auto; border-bottom: 1px solid #ffffff; background-color: #187ebc;">
        <h1 style="font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-size: 35px; font-weight: 200; color: #ffffff; padding-left: 15px; padding-top: 15px;">Uhuru AppCloud</h1>
        <h2 style="font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 300; color: #ffffff; padding-left: 15px; padding-top: 15px;">Welcome to uhuru</h2>
    </div>

    <div style="display: block; position: relative; margin-bottom: 150px; width: 500px; height: 500px; margin: auto; border-top: 1px solid red; border-bottom: 1px solid red;">
        <p style="font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 200; text-align: left; color: #ffffff;">
            Please click the link bellow to verify the email address.
        </p>

        <a href="<%= link %>" style="text-decoration: none;">
        <div style="width: 100px; height: 100px; float: left; margin-left: 50px; background-color: #09293e; background-transparence: 0.7;">
          <p>Click here</p>
        </div>
        </a>
    </div>

    <div style="position: absolute; bottom: 0; width: 100%; height: 100px; margin: auto; border-top: 1px solid #ffffff; background-color: #09293e;">
        <p style="font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 200; color: #ffffff; padding-top: 15px; padding-bottom: 20px; text-align: center;">
        -Uhuru team
        </p>
    </div>

</div>
