<%= erb(:'guest_pages/index', :layout => false, :locals => {:page_title => page_title, :welcome_message => welcome_message}) %>

<div id="modal_login" class="modal login hide">
  <form method="post" action="/forgot_password">

    <div class="modal_header">
      Reset password
    </div>

    <div class="modal_content">
        <p>Please enter your email address in order to receive a password recovery email.</p>
        <% unless error_message.nil? || error_message.empty? %>
          <div class="error"><%= error_message %></div>
        <% end %>
        <input type="text" value="email@domain.com" name="email" />
    </div>

    <div class="modal_footer">
      <div>
        <button type="button" class="cancel_button" onclick="window.location.assign('<%= Uhuru::Webui::SinatraRoutes::INDEX %>');">Cancel</button>
        <button type="submit">Submit</button>
      </div>
    </div>

  </form>
</div>