
<div id="content">

  <h3>Getting Started</h3>
  <p>
    Learn how to register with Ready To Go and start hosting your own web applications.
    See how you can setup teams for collaboration on your applications and setup multiple app instances
    for load balancing and fault tolerance
  </p>


  <div class="square_tile">
    <div class="square_tile signup" title="Registratiorn ..." id="signup_button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::SIGNUP %>';">
      <img src="/images/plus_32px.png" style="position: absolute; top: 110px; right: 39px;" />
      <span>Register</span>
    </div>
  </div>
</div>

