
<div id="content">

  <h1>Ready To Go</h1>

  <h3>
    Host your web applications in minutes.
    We support apps written in PHP, Node.js, Ruby, Java and .NET.
    Sign up for your free beta account now.
    Find more details about the Uhuru App Cloud features on our web site.
  </h3>


  <div class="splash">
    <div class="content">
      <div id="starter_text">
          <h2>Getting Started</h2>
          <h3>
            Learn how to register with Ready To Go and start hosting your own web applications.
            See how you can setup teams for collaboration on your applications and setup multiple app instances
            for load balancing and fault tolerance
          </h3>
      </div>

      <div id="register">
        <div class="square_tile">
          <div class="square_tile signup" title="Registration ..." id="signup_button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::SIGNUP %>';">
            <img src="/images/plus_32px.png" style="position: absolute; top: 110px; right: 39px;" />
            <span>Register</span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

