<div class="splash">
    <div class="page-margin">
    <div id="cloud_photo"></div>

    <div id="splash_content_area">
        <h2  class="layout_page_header"><%= page_title %></h2>
        <p class="layout_page_paragraph left_simple_paragraphs">
            <%= welcome_message %>
            <!--<a href="http://www.uhurusoftware.com" class="index_links">web site</a>.      The link may be put in the .yaml file      -->
        </p>

        <div id="try_it">
            <span class="title">Give It a <span style="font-weight: bold">Try</span></span><br /><br />
            <span class="byline layout_page_paragraph">It takes <br />30 seconds</span>
        </div>

        <div id="signup_container">
                <div id="promo_code_container">
                    <p class="layout_page_paragraph">
                        Promo Code. No issues if you have none.
                    </p>
                    <input type="text" id="promo_code_input" name="promoCode" />
                </div>

                <a href="<%= Uhuru::Webui::SinatraRoutes::SIGNUP %>"><button class="btn signup_clipboard" id="signup_button" style="float: right;"><span class="line">| </span>Sign Up </button></a>
            <div id="signup_container_text">
                <br />
                By using our service you agree to the  <a href="http://uhurusoftware.com/tos" target="_blank" class="index_links">Terms of Service</a>
                and <a href="http://uhurusoftware.com/privacy/" target="_blank" class="index_links">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="page-margin">
    <table id="video_table">
        <tbody>
            <tr>
                <td id="video_placeholder">
                    <iframe id="video" width="340" height="240" src="http://www.youtube.com/embed/Iv4VpPjz7y0" style="border: 0;"></iframe>
                </td>
                <td id="video_description">
                    <h3 class="layout_page_header">Getting Started</h3>
                    <p class="layout_page_paragraph">
                        Learn how to register with Ready To Go and start hosting your own web applications.
                        See how you can setup teams for collaboration on your applications and setup multiple app instances
                        for load balancing and fault tolerance

                    </p>
                    <br />
                    <p class="layout_page_paragraph">
                        We have more how-to videos and documentation in our support forum knowledge base
                        <a href="http://support.uhurusoftware.com/forums/20507726-uhuru-knowledge-bases" class="index_links">..more videos</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<% if defined?(include_erb) && include_erb != nil %>
    <%= erb(include_erb, :layout => false) %>
<% end %>

