<div class="splash">
	<div class="page-margin">
		<div id="splash_content_area">
			<h2>This is the UhuruCloud.com service endpoint.</h2>
			<p id="info_paragraph">To use this, please follow the instructions below on how to install client tools that will help you deploy your apps in the cloud.</p><br /><br />

					<div id="info_page_container">


							<table id="info_table">
								<tr>
									<td>
										<a href = "@string.Format("{0}", System.Configuration.ConfigurationManager.AppSettings["CloudAdminDownload"].TrimEnd('/'))">
											<div class = "tile" id="cloud_admin_dl">
												<span class="info_left">Uhuru Cloud Admin</span><br />
												<span class = "info_subtitle">Download</span<br />
											</div>
										</a>
									</td>
									<td>
										<a href="http://support.uhurusoftware.com/entries/21434952-deploying-and-managing-apps-with-windows-cloud-admin-tool ">
											<div class = "tile" id="cloud_admin_info">
												<span class="info_right">Uhuru Cloud Admin</span><br />
												<span class = "info_subtitle">How to use</span><br />
											</div>
										</a>
									</td>
								</tr>


								<tr>
									<td>
										<a href="@string.Format("{0}", System.Configuration.ConfigurationManager.AppSettings["VisualStudioDownload"].TrimEnd('/'))">
											<div class = "tile" id="visual_studio_dl">
												<span class="info_left">Visual Studio Plugin</span><br />
												<span class = "info_subtitle">Download</span><br />
											</div>
										</a>
									</td>

									<td>
										<a href = "http://support.uhurusoftware.com/entries/21457058-deploying-and-managing-apps-with-visual-studio">
											<div class = "tile" id="visual_studio_info">
												<span class="info_right">Visual Studio Plugin</span><br />
												<span class = "info_subtitle">How to use</span><br />
											</div>
										</a>
									</td>
								</tr>


								<tr>
									<td>
										<a href="http://support.uhurusoftware.com/entries/21454287-deploying-and-managing-apps-with-command-line#setup">
											<div class = "tile" id="vmcu_dl">
												<span class="info_left">vmcu</span><br />
												<span class = "info_subtitle">Download</span><br />
											</div>
										</a>
									</td>

									<td>
										<a href="http://support.uhurusoftware.com/entries/21454287-deploying-and-managing-apps-with-command-line#connect">
											<div class = "tile" id="vmcu_info">
												<span class="info_right">vmcu</span><br />
												<span class = "info_subtitle">How to use</span><br />
											</div>
										</a>
									</td>
								</tr>

							</table>
					</div>

		</div>
	</div>
</div>