<h1>Please confirm your email address!</h1>
<h2>An activation email has been sent out. Please login to your email address and proceed to the next step.</h2>

<br /><br />
<br /><br />
<br /><br />

<p>Click <a href="<%= Uhuru::Webui::SinatraRoutes::INDEX %>"><u><b>here</b></u></a> to go back to the main page.</p>