<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ftpUser" value="{fs#user}"/>
    <add key="ftpPass" value="{fs#password}"/>
    <add key="ftpServer" value="{fs#host}"/>
    <add key="ftpPort" value="{fs#port}"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

</configuration>
