<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
    <connectionStrings>
      <add name="testDb" connectionString="data source={dotnetmssqlmonit#host};initial catalog={dotnetmssqlmonit#name};User={dotnetmssqlmonit#user};Password={dotnetmssqlmonit#password};multipleactiveresultsets=True;"/> 
      <!--<add name="testDb" connectionString="data source=(local);initial catalog=UhuruCloudAccounting;User=sa;Password=password1234!;multipleactiveresultsets=True;" /> -->
    </connectionStrings>

</configuration>
